@font-face {
    font-family: 'Mononoki';
    src: url('./mononoki-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #80CBC4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Mononoki', monospace;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: #FBF8EF;
}

label {
    color: #FBF8EF;
}

/* Button Styles */
.btn {
    width: 250px;
    height: 60px;
    background-color: #FFB433;
    outline: none;
    box-shadow: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #fcc974;
}

.btn:active {
    background-color: #FFB433;
    box-shadow: 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(0.9);
}

/* Custom Bootstrap Checkbox Style */
.form-check-input {
    background-color: #FBF8EF;
    border: none;
    box-shadow: none;
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.1em;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #FFB433
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-label {
    color: #FBF8EF;
    margin-left: 0.4em;
}
